@font-face {
    font-family: 'roboto';
    src: url("fonts/Roboto/Roboto-Regular.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'shrikhand';
	src:url('fonts/shrikhand/Shrikhand-Regular.ttf') format('woff2');
	    font-weight: normal;
	    font-style: normal;
	}
@media screen and (min-width:1200px) {  
    @keyframes fill {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 0.5;
        }
        100% {
          opacity: 1;
        }
      }
      
      @keyframes fadein {
              from {
                  opacity:0;
                  }
                  to {
                  opacity:1;
                  }
          }
    body{
        margin: 0px;
    }
    .block_page{
        font-family: "roboto", sans-serif;
        width: 100%;
    }
    .head{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 70%;
        .btn_retour{
            
            width: 5%;
            font-size: 1.5rem;
        }
        .logo_head{
            background-color: white;
            width: 30%;
            border-bottom: 0px solid black;
            padding-top: 15px;
            padding-bottom: 15px;
            img{
                width: 500px;
            }
        }
    }
    .block_img{
        order: 2;
        width: 100%;
        img{
            width: 100%;
            height: 28vw;
            object-fit: cover;
            
        }
    }   
    .Menu{
        background-color: #f7f7f7;
        border-radius: 50px 50px 0px 0px;
        padding-top: 20px;
        order: 1;
        margin-top: -50px;
        position: relative;
        padding-bottom: 70px;
        .ttr_coeur_menu{
            display: flex;
            align-items: center;
            margin-left: 25px;
            .titre_menu{
                font-family: 'shrikhand',sans-serif;
                font-size: 1.3rem;
                width: 60%;
                white-space: nowrap;
            }
            .ico_titre_menu{
                font-size: 2em;
				margin-left: 2vw;
				color: black;
  				cursor: pointer;
				border: none;
				background-color:#f7f7f7;
                margin-left: 180px;
                .fa-heart:hover {
                    animation: fill 1100ms ease-in-out;
                    display: inline-block;
                    opacity: 1;
                    background:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
                    background:-webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
                    -webkit-background-clip: text;
                    color: transparent;
                    font-weight: bold;
                }
            }
        }
        .conteneur_block{
            display: flex;
            flex-flow: row wrap;
            .titre_block{
                margin-left: 15px;   
            }
            .conteneur_menu{ 
                display: flex;
                flex-direction: column;
                margin-left: 30px;
                width: 25%;
                
                .block_menu{
                background-color:white;
                width: 95%;
                display: flex;
                flex-direction: row;
                justify-content:flex-start;
                align-items: center;
                border-radius: 20px;
                margin-bottom: 15px;
                margin-top: 10px;
                box-shadow: 2px 2px 10px #EAEAEA;
                white-space: normal;
                
                    .texte_menu{
                        margin-left: 15px;
                        padding-bottom: 15px;
                        width: 85%;
                        font-size: 1rem;
                        white-space: nowrap;
                        h4{
                            margin: 15px 0px 10px 0px;
                        }
                    }
                    .prix{
                        margin-top: 35px;
                        font-size: 1rem;
                    }
                    .check{
                        display: none;
                        justify-content:center;
                        align-items:center;
                        width:20vw;
				        height: 100%;
                        border-radius: 0px 20px 20px 0px;
                        font-size: 1.5rem;
                        background-color:#99E2D0 ;
                        text-overflow: ellipsis;
                        
                        .fa-check-circle{
                            color: #fff;

                        }
                    }
                    
                }
            }
        }
        .btn_com{
            display: flex;
            justify-content: center;
            margin-top: 40px;
            .btn_comm{
            background-color: #FF79DA;
            padding: 20px 75px 20px 75px;
            border-radius: 50px;
            border: none;
            color: white;
            font-size: 1.4rem;
            }    
        }    
    }
    .foot{
        background-color: #313131;
        padding-top: 70px;
        padding-bottom: 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 50px;
        .logo_foot {
            color: white;
            
            
            font-family: 'shrikhand', sans-serif;
            font-size: 5rem;
            width: 50%;
            
        }
        .list_foot{
            .lien_foot{
                padding-bottom: 10px;
                
                a{
                    color: white;
                    text-decoration: none;
                    font-size: 2.5rem;
                }
                .fa-utensils{
                    margin-right: 15px;
                }
                .fa-hands-helping{
                    font-size: 1.4rem;
                    margin-right: 10px;
                }
            }
        }
    }
}     