@import "Animations/keyframes.css";
@font-face {
  font-family: "roboto";
  src: url("fonts/Roboto/Roboto-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhand";
  src: url("fonts/Shrikhand/Shrikhand-Regular.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
#loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA, #FF79DA, #9356DC);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: cover;
  z-index: 1;
  position: fixed;
  animation: loader 2s ease-in;
  transform: scale(0);
}

.lettre {
  font-size: 50px;
  color: grey;
  letter-spacing: 5px;
  margin-bottom: 0px;
  animation: rotate 1.2s linear infinite;
  font-family: "shrikhand", sans-serif;
}

.lettre:nth-child(1) {
  animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  animation-delay: 0.8s;
}

.page {
  z-index: 1;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
}

.block_page {
  font-family: "roboto", sans-serif;
}

.logo_head {
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-bottom: 0px solid black;
  padding-top: 15px;
  padding-bottom: 15px;
}
.logo_head img {
  width: 300px;
}

.local {
  box-shadow: 10px 10px 10px black;
}
.local .form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #F1F1F1;
  padding-left: 55px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.local .form .fa-map-marker-alt {
  font-size: 1.4em;
  padding-right: 10px;
  margin-left: 10px;
}
.local .form .input {
  border: none;
  background-color: #F2F2F2;
  font-weight: bold;
  font-size: 1.4em;
}

.present {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #f7f7f7;
  padding-bottom: 40px;
}
.present h1 {
  font-size: 2.3rem;
}
.present p {
  font-size: 1.7rem;
}
.present .bout_expl {
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 45%;
  border: none;
  border-radius: 80px;
  background-color: #9356DC;
  font-size: 1.4em;
  color: white;
  box-shadow: 2px 2px 10px #8d8c8c;
}

.fonc {
  width: 100%;
}
.fonc .titre_fonc {
  width: 90%;
  text-align: justify;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 1.5em;
}
.fonc .conteneur {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 45px;
  width: 100%;
}
.fonc .conteneur .block_fonc {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  padding: 30px 0px 30px 0px;
  background-color: #F7F7F7;
  margin-bottom: 15px;
  width: 95%;
  box-shadow: 2px 2px 10px #b8b6b6;
}
.fonc .conteneur .ordre_fonc {
  background-color: #9356DC;
  padding: 3px 10px 3px 10px;
  border-radius: 250px;
  position: absolute;
  left: 10px;
  color: white;
  font-size: 1.5em;
}
.fonc .conteneur .txt_fonc {
  font-size: 1.6em;
  width: 60%;
  font-weight: bold;
  color: black;
  padding-left: 20px;
}

.rest {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
  padding-bottom: 50PX;
}
.rest .titre_rest {
  font-size: 2em;
  margin-top: 45px;
  margin-bottom: 0px;
  padding-left: 10px;
  width: 90%;
  font-weight: bold;
}
.rest .block_rest {
  width: 45%;
  background-color: white;
  margin-top: 30px;
  border-radius: 20px;
  padding-bottom: 10px;
}
.rest img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  height: 40vw;
  object-fit: cover;
}
.rest .block_des {
  display: flex;
  width: 100%;
}
.rest .block_des .titre_des {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.rest .block_des .text_des {
  width: 85%;
}
.rest .block_des .loc_desc {
  font-size: 1.4rem;
  margin-left: 15px;
}
.rest .block_des .coeur_des {
  font-size: 1.8em;
  margin-left: 2vw;
  color: black;
  cursor: pointer;
  border: none;
  background-color: white;
  margin-left: 10px;
}
.rest .block_des .coeur_des .hearti:hover {
  animation: fill 900ms ease-in;
  display: inline-block;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.foot {
  background-color: #313131;
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.foot .logo_foot {
  color: white;
  font-family: "shrikhand", sans-serif;
  font-size: 3rem;
  width: 50%;
}
.foot .list_foot .lien_foot {
  padding-bottom: 10px;
}
.foot .list_foot .lien_foot a {
  color: white;
  text-decoration: none;
  font-size: 1.7rem;
}
.foot .list_foot .lien_foot .fa-utensils {
  margin-right: 15px;
}
.foot .list_foot .lien_foot .fa-hands-helping {
  font-size: 1.4rem;
  margin-right: 10px;
}

/*# sourceMappingURL=style_tab.css.map */
