@import "Animations/keyframes.css";
@font-face {
  font-family: "roboto";
  src: url("fonts/Roboto/Roboto-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhand";
  src: url("fonts/Shrikhand/Shrikhand-Regular.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@media screen and (min-width: 1200px) {
  .block_menu:nth-child(1) {
    animation: appblock 1s;
  }

  .block_menu:nth-child(2) {
    animation: appblock 2s;
  }

  .block_menu:nth-child(3) {
    animation: appblock 3s;
  }

  body {
    margin: 0px;
  }

  .block_page {
    font-family: "roboto", sans-serif;
    width: 100%;
  }

  .head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
  }
  .head .btn_retour {
    width: 5%;
    font-size: 1.5rem;
  }
  .head .logo_head {
    background-color: white;
    width: 30%;
    border-bottom: 0px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .head .logo_head img {
    width: 500px;
  }

  .block_img {
    order: 2;
    width: 100%;
  }
  .block_img img {
    width: 100%;
    height: 28vw;
    object-fit: cover;
  }

  .Menu {
    background-color: #f7f7f7;
    border-radius: 50px 50px 0px 0px;
    padding-top: 20px;
    order: 1;
    margin-top: -50px;
    position: relative;
    padding-bottom: 70px;
  }
  .Menu .ttr_coeur_menu {
    display: flex;
    align-items: center;
    margin-left: 25px;
  }
  .Menu .ttr_coeur_menu .titre_menu {
    font-family: "shrikhand", sans-serif;
    font-size: 1.5rem;
    width: 60%;
    white-space: nowrap;
  }
  .Menu .ttr_coeur_menu .ico_titre_menu {
    font-size: 2em;
    margin-left: 2vw;
    color: black;
    cursor: pointer;
    border: none;
    background-color: #f7f7f7;
    margin-left: 180px;
  }
  .Menu .ttr_coeur_menu .ico_titre_menu .fa-heart:hover {
    animation: rampcoeur 1100ms ease-in-out;
    display: inline-block;
    opacity: 1;
    background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  .Menu .conteneur_block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .Menu .conteneur_block .titre_block {
    margin-left: 15px;
    border-bottom: 2px solid #99E2D0;
    width: 40px;
    height: 18px;
  }
  .Menu .conteneur_block .conteneur_menu {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 23.5%;
  }
  .Menu .conteneur_block .conteneur_menu .block_menu {
    background-color: white;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 15px;
    margin-top: 20px;
    box-shadow: 2px 2px 10px #EAEAEA;
    white-space: normal;
    position: relative;
  }
  .Menu .conteneur_block .conteneur_menu .block_menu .block_ar {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    background-color: #99E2D0;
    z-index: 1;
  }
  .Menu .conteneur_block .conteneur_menu .block_menu .block_ar .texte_menu {
    padding-bottom: 20px;
    padding-top: 15px;
    width: 100%;
    font-size: 1rem;
    white-space: nowrap;
    display: flex;
    background-color: white;
    z-index: 3;
    transition: width 500ms ease-in-out;
  }
  .Menu .conteneur_block .conteneur_menu .block_menu .block_ar .texte_menu:hover {
    width: 80%;
  }
  .Menu .conteneur_block .conteneur_menu .block_menu .block_ar .texte_menu .texte {
    width: 80%;
    margin-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .Menu .conteneur_block .conteneur_menu .block_menu .block_ar .texte_menu .texte h4 {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .Menu .conteneur_block .conteneur_menu .block_menu .block_ar .texte_menu .prix {
    margin-top: 35px;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 4;
  }
  .Menu .conteneur_block .conteneur_menu .block_menu .block_ar .texte_menu .check {
    position: absolute;
    right: 0px;
    top: 32px;
    transform: translate(0px);
    transform: rotate(-360deg);
    transition: transform 500ms ease-in-out;
  }
  .Menu .conteneur_block .conteneur_menu .block_menu .block_ar .texte_menu .check .fa-check-circle {
    margin-top: 8px;
    font-size: 1.8rem;
    color: white;
    z-index: 2;
  }
  .Menu .texte_menu:hover .check {
    transform: translate(-1.6vw);
  }
  .Menu .check .fa-check-circle {
    transition: transform 500ms ease-in-out;
  }
  .Menu .texte_menu:hover .fa-check-circle {
    transform: rotate(-360deg);
  }
  .Menu .texte_menu:hover + .icon {
    transition: transform 500ms;
    transform: rotate(0deg);
  }
  .Menu .btn_com {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .Menu .btn_com .btn_comm {
    background: linear-gradient(#FF79DA, #9356DC);
    padding: 20px 75px 20px 75px;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 1.4rem;
  }
  .Menu .btn_com .btn_comm:hover {
    transform: scale(1.07);
    filter: brightness(1.15);
    box-shadow: 2px 2px 10px #313131;
  }

  .foot {
    background-color: #313131;
    padding-top: 70px;
    padding-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
  }
  .foot .logo_foot {
    color: white;
    font-family: "shrikhand", sans-serif;
    font-size: 5rem;
    width: 50%;
  }
  .foot .list_foot .lien_foot {
    padding-bottom: 10px;
  }
  .foot .list_foot .lien_foot a {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
  }
  .foot .list_foot .lien_foot .fa-utensils {
    margin-right: 15px;
  }
  .foot .list_foot .lien_foot .fa-hands-helping {
    font-size: 1.4rem;
    margin-right: 10px;
  }
}

/*# sourceMappingURL=style_menu_desk.css.map */
